<div class="modal-header">
          <h3>Initial Comments</h3>
    </div>
    <%= form_for @requested_user, :url => requested_user_url(@requested_user), :remote => true do |f| %>
    <div class="modal-body">
      <p>
        Please relay feedback to this company. Detailed, honest feedback is a true gift.
        If you would like your feedback to be anonymous, click the box below. Please note:
        if you want to be connected to the company, you still need to select "Connect Me In".
      </p><br />
          <%= f.check_box :is_anonymous, :style => "vertical-align: top;" %> Make Anonymous
          <br /> <br />
          <%= f.text_area :feedback, :style => "height: 72px; width: 514px;" %>

    </div>
    <div class="modal-footer">
        <%= f.submit "Send", :class => "btn primary" %>
    </div>
    <% end %>